<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <div class="button button-clear" ng-click="vm.hideFilters();">
      <span class="icon ion-ios-close"></span>
    </div>
    <div class="button button-clear" ng-click="vm.clearFilters();">
      <span class="icon ion-refresh"></span>
    </div>
    <h1 class="title"></h1>
    <div class="button button-clear" ng-click="vm.applyFilters()">
      <span class="icon ion-checkmark"></span>
    </div>
  </ion-header-bar>
  <ion-content>

    <label class="item item-divider item-input sc-jobs-search" data-ng-show="vm.jobs.isFilterVisible">
        <i class="icon ion-search placeholder-icon"></i>
        <input name="search" data-ng-model="vm.jobs.searchKeyword" type="text" placeholder="Search Job Title ...">
    </label>

    <label class="item item-divider item-input item-select" data-ng-show="vm.jobs.isFilterVisible">
      <div class="input-label">
        Sort By:
      </div>
      <select id="orderByField" name="orderByField" data-ng-model="vm.jobs.orderByField" data-ng-change="vm.jobs.orderByType = (vm.jobs.orderByFieldList|filter:{id:vm.jobs.orderByField})[0].direction " class="" data-ng-options="orderByField.id as orderByField.name for orderByField in vm.jobs.orderByFieldList" >
      </select>
    </label>

  </ion-content>
</ion-modal-view>