<ion-view>
  <ion-nav-title>
    <span>My Stats</span>
  </ion-nav-title>

  <ion-nav-buttons side="secondary" data-ng-show="vm.stats.isFilterVisible">
    <button class="button button-icon icon ion-ios-settings-strong sc-icon-small" data-ng-click="vm.showFilters();"></button>
  </ion-nav-buttons>

  <ion-content>

    <ion-list class="sc-jobs-list">
      
      <ion-item data-ng-repeat="stat in filteredStats = (vm.stats.list)" class="item" id="stat-{{::stat.statId}}" data-ui-sref="user.stats-edit({userStatId: stat.userStatId})">

        <div class="sc-job-content-wrapper">
          <div class="sc-job-content"> 
            <strong class="sc-stats-name pull-left" data-ng-bind="stat.statName"></strong>
            <strong class="pull-right" data-ng-bind="::stat.statValue" data-ng-class="{'assertive': stat.isPersonalRecord}"></strong>
            <br>
            <span class="pull-left sc-muted" data-ng-bind="::stat.statDate | scDateFormatNoTime"></span> 
            <span class="pull-right sc-muted sc-truncate sc-text-right" data-ng-bind="::stat.statInfo"></span>
          </div>
        </div>

      </ion-item>
    </ion-list>

    <div class="card text-center small text-warning" data-ng-show="filteredStats.length < 1 && !vm.stats.loading">
      <div class="item item-text-wrap" data-ng-bind="vm.stats.noStatsText"></div>
    </div>

    <ion-infinite-scroll
      data-ng-if="vm.stats.showMoreStatsLink"
      icon="ion-loading-c"
      on-infinite="vm.getMoreStatsList()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>

</ion-view>
