<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <div class="button button-clear" ng-click="vm.hideFilters();">
      <span class="icon ion-arrow-left-c"></span>
    </div>
    <h1 class="title">Filter My Stats</h1>
  </ion-header-bar>

  <ion-content>
    <form>
      <formly-form model="vm.stats.formData" fields="vm.stats.formFields">
        <div class="sc-center-text sc-btn-margin-top">
          <!-- <button class="button button-balanced" ng-click="vm.clearFilters();">Clear Filters</button> -->
          <button class="button button-balanced" ng-click="vm.applyFilters()">Apply Filters</button>
        </div>
      </formly-form>
    </form>

  </ion-content>
</ion-modal-view>