<ion-view>
  <ion-nav-title>
    <span>Add Stat</span>
  </ion-nav-title>

  <ion-content>
		<div class="list">
			<form>
				<formly-form form="vm.statForm" model="vm.stats.formData" fields="vm.stats.formFields">
					<div class="sc-center-text sc-btn-margin-top">
	          <button class="button button-balanced sc-form-button" data-ng-click="vm.clearForm();">Clear</button>
	          <button type="submit" class="button button-balanced sc-form-button" data-ng-click="vm.saveStat()" data-ng-disabled="vm.statForm.$invalid">Save</button>
        	</div>
				</formly-form>
			</form>
		</div>
  </ion-content>

</ion-view>
