<ion-list class="sc-message-stream">
  <ion-item data-ng-repeat="message in vm.messages"
            class="card item sc-message-container sc-{{message.getPersonTypeCssClassName()}}"
            id="message-{{::message.id}}"
            data-ng-class="{ 'sc-message-unread': message.statusId < vm.messageStreamVars.MESSAGE_STATUS_READ }"
            data-ng-click="message.statusId < vm.messageStreamVars.MESSAGE_STATUS_READ && message.updateMessageStatus($event, message, vm.messageStreamVars.MESSAGE_STATUS_READ); vm.showMessageDetail(message.id);">

    <!-- MESSAGE START -->
    <div class="item sc-message-content-wrapper">

      <div data-sc-avatar-letter="sc-avatar-letter" data-avatar-class="pull-left" data-avatar-size="md" data-background-class="{{message.getPersonTypeCssClassName()}}" data-ng-bind="message.postedByFirstName.charAt(0)"></div>
      <!-- <span sc-user-avatar="{userAvatar: message.postedByAvatar, cssClass: 'sc-user-avatar-small pull-left'}"></span> -->

      <div class="sc-message-content">

        <div class="sc-message-header-info-container">
          <h2>

            <!-- <span data-ng-bind-html="::message.displayTitle"></span> -->
            <span data-ng-show="!message.isSystemMessage" data-ng-bind="message.postedByFirstName+' '+message.postedByLastName"></span>

            <span data-ng-show="message.postedByTitle && !message.isSystemMessage" class="sc-font-small text-muted sc-message-header-title-play-icon"> > </span><!-- glyphicon glyphicon-play ion-android-arrow-dropright -->
            <span data-ng-show="message.postedByTitle" data-ng-bind="::message.postedByTitle" class="sc-message-postedby-title sc-word-wrap"></span>

            <span class="text-muted" data-ng-show="message.messageCommentCount" data-ng-bind="'(' + ( message.messageCommentCount | scIncrementByNumber:1) + ')'"></span>

            <div class="sc-message-date-container">

              <!-- <div class="label label-{{message.priorityClass.replace('btn-', '')}} pull-right sc-message-priority-label" data-ng-bind="message.priority"></div> -->

              <!-- <div class="pull-right" data-ng-init="rateStarCount = 1; message.rate = message.favoriteYn == 'Y' ? 1 : 0;">
                <rating title="Mark/Unmark as Important" data-ng-model="message.rate" max="rateStarCount" class="sc-star-favorite" readonly="true"></rating>
                &nbsp;&nbsp;
              </div> -->

              <div class="sc-message-date" data-ng-bind="message.updatedTime | scDateFormat"></div>
              <div class="clearfix"></div>
            </div>
          </h2>
        </div>

        <div class="sc-message-body">
          <p data-ng-bind-html="::message.bodyHtml | scClipTextByWords:45"></p>
        </div>
      </div>

    </div>
    <!-- MESSAGE END -->

  </ion-item>
</ion-list>

