<ion-view on-swipe-right="vm.onSwipeRight()">
  <ion-nav-title>
    <span data-ng-bind="::vm.messageVars.title"></span>
  </ion-nav-title>

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-compose" data-ng-click="vm.composeMessage()"></button>
  </ion-nav-buttons>

  <div class="sc-message-detail" data-ng-repeat="message in vm.message">
    <ion-content scroll="true" delegate-handle="messageContent">

      <div>
        <div class="item">
          <!-- <span sc-user-avatar="{userAvatar: message.postedByAvatar, cssClass: ''}"></span> -->
          <span data-sc-avatar-letter="sc-avatar-letter" data-avatar-class="" data-avatar-size="md" data-background-class="{{message.getPersonTypeCssClassName()}}" data-ng-bind="message.postedByFirstName.charAt(0)"></span>

          <h2>
            <span class="sc-strong" data-ng-show="!message.isSystemMessage" data-ng-bind="message.postedByFirstName+' '+message.postedByLastName"></span>

              <span data-ng-show="message.postedByTitle && !message.isSystemMessage" class="glyphicon glyphicon-play  text-muted sc-message-header-title-play-icon"> </span>

              <span data-ng-show="message.postedByTitle" data-ng-bind="::message.postedByTitle" class="sc-message-postedby-title sc-strong"></span>
          </h2>

          <div>
            <span class="sc-message-detail-date" data-ng-bind="message.updatedTime | scDateFormat"></span>

            <!-- Priority -->
            <div class="pull-right">
              <div class="btn-group" data-ng-class="{ 'open': message.priorityHover }" >
                <button title="Click to update Message Priority" type="button" class="btn label dropdown-toggle" data-ng-class="message.priorityClass" data-ng-click="message.priorityHover = !message.priorityHover " data-ng-disabled="message.priorityMessageInProcess" data-toggle="dropdown" data-ng-bind="message.priority | capitalize:'first'"></button>
                <ul class="dropdown-menu pull-right" role="menu">
                  <li><a title="High" href="javascript:void(0);" data-ng-click="!message.priorityMessageInProcess && message.updateMessagePriority($event, message, 'High');  message.priority = 'High'; message.priorityClass = 'btn-danger'; message.priorityHover = !message.priorityHover;">High</a></li>
                  <li><a title="Normal" href="javascript:void(0);" data-ng-click="!message.priorityMessageInProcess && message.updateMessagePriority($event, message, 'Normal'); message.priority = 'Normal'; message.priorityClass = 'btn-info'; message.priorityHover = !message.priorityHover;">Normal</a></li>
                  <li><a title="Low" href="javascript:void(0);" data-ng-click="!message.priorityMessageInProcess && message.updateMessagePriority($event, message, 'Low'); message.priority = 'Low'; message.priorityClass = 'btn-success'; message.priorityHover = !message.priorityHover;">Low</a></li>
                </ul>
              </div>
            </div>

            <!-- Favorite -->
            <div class="pull-right" data-ng-init="rateStarCount = 1; message.rate = message.favoriteYn == 'Y' ? 1 : 0; rateToogle = message.favoriteYn == 'Y' ? false : true">
              <a href="javascript:void(0);" data-ng-click="rateToogle = ! rateToogle; !message.rateMessageInProcess && message.updateMessageRate($event, message, rateToogle);" class="sc-href">
                <rating title="Mark/Unmark as Important" data-ng-model="message.rate" max="rateStarCount" readonly="message.rateMessageInProcess" class="sc-star-favorite" ></rating>
              </a>
              &nbsp;&nbsp;
            </div>

          </div>

        </div>
        <div class="item item-text-wrap">
          {{::message.bodyHtml}}
          <div class="sc-strong sc-word-wrap" data-ng-if="message.referenceId">
            <br/>VOCcenter Job Reference Id:
            <span data-ng-bind-html="'http://www.voccentral.com/VOCOS/jobs.aspx?JobID='+message.referenceId | scUrlToJs:message.referenceId"></span>
            <!-- <a target="_blank" href="http://www.voccentral.com/VOCOS/jobs.aspx?JobID={{message.referenceId}}" title="VOC Job Detail">
              <span class="sc-strong" data-ng-bind-html="::message.referenceId" ></span>
            </a> -->
          </div>
        </div>

      </div>

      <div>
        <div class="item item-divider">
          <p data-ng-show="message.isSystemMessage">This message does not allow comments.</p>
          <p data-ng-show="!message.isSystemMessage" class="pull-right">
            <a href="#" class="subdued"><span data-ng-bind="message.messageCommentCount"></span> <span data-ng-bind="message.messageCommentCount > 1 ? 'Comments' : 'Comment'"></span></a>
          </p>
        </div>
      </div>

      <div class="sc-message-comments">
        <div class="item item-body">

          <div data-ng-show="!(message.messageCommentCount > vm.messageVars.messageParams.commentDefaultDisplayLimit && message.showMoreCommentsLink && message.messageCommentCount > message.comments.length) && viewNoMoreCommentsFlag">
            <div class="small text-muted sc-message-comments-no-more-comments">&nbsp;&nbsp;No more comments</div>
          </div>

          <div class="small" data-ng-show="message.messageCommentCount > vm.messageVars.messageParams.commentDefaultDisplayLimit && message.showMoreCommentsLink && message.messageCommentCount > message.comments.length" >
            <div class="pull-right" sc-loading-indicator="{{message.loadCommentsInProcess}}" ></div>
            <div class="sc-message-comments-more-comments">&nbsp;&nbsp;
              <a class="btn-link" title="View more comments" href="javascript:void(0);" data-ng-click="!message.loadCommentsInProcess && message.showMoreComments($event, message); viewNoMoreCommentsFlag = true;" data-ng-disabled="message.loadCommentsInProcess" data-ng-bind="message.loadCommentsInProcess && 'loading...' || 'View More Comments'">View More Comments</a>
            </div>

          </div>


          <!-- <ion-scroll class="sc-message-comments-list" delegate-handle="messageCommentList"> -->
            <div class="list">
              <div class="item" data-ng-repeat="comment in message.comments" id="comment-{{comment.id}}" >
                <div class="">

                  <div class="pull-left">
                    <!-- <span sc-user-avatar="{userAvatar: comment.postedByAvatar, cssClass: 'sc-user-avatar-x-small'}"></span> -->
                    <div data-sc-avatar-letter="sc-avatar-letter" data-avatar-class="" data-avatar-size="sm" data-background-class="{{comment.getPersonTypeCssClassName()}}" data-ng-bind="comment.postedByFirstName.charAt(0)"></div>
                  </div>
                  <div class="sc-message-comments-body">
                    <div>
                      <span class="sc-message-comments-user-name sc-strong" data-ng-bind="comment.postedByFirstName + ' ' + comment.postedByLastName"></span>
                    </div>
                    <div class="sc-message-comments-body-text" data-ng-bind-html="comment.bodyHtml"></div>
                    <div><span class="sc-message-comments-date" data-ng-bind="comment.createdTime | scDateFormat"></span></div>
                  </div>
                  <div class="clearfix"></div>

                </div>
              </div>
            </div>
          <!-- </ion-scroll> -->

        </div>
      </div>

    </ion-content>

    <ion-footer-bar class="bar-stable" data-ng-show="!message.isSystemMessage && !vm.messageVars.commentsDisable && vm.user.isStatusActive()">
      <div class="sc-message-new-comment-container">
        <form id="newCommentForm{{message.id}}" name="newCommentForm" data-ng-submit="newCommentForm.$valid && newCommentForm.$setPristine(); message.addComment($event, message);" novalidate>
          <div class="pull-left sc-message-new-comment-user-avatar-wrapper">
            <!-- <span sc-user-avatar="{userAvatar: vm.user.avatar, cssClass: 'sc-user-avatar-x-small'}"></span> -->
            <div data-sc-avatar-letter="sc-avatar-letter" data-avatar-class="" data-avatar-size="sm" data-background-class="warning" data-ng-bind="vm.user.firstName.charAt(0)"></div>&nbsp;&nbsp;
          </div>
          <div class="pull-left sc-message-new-comment-input-wrapper" data-ng-class="{ 'has-error' : newCommentForm.newComment.$invalid && !newCommentForm.newComment.$pristine }">
            <label class="sr-only" for="newComment{{message.id}}">comment</label>
            <input data-ng-model="message.commentTxt" required type="text" class="form-control item item-input" id="newComment{{message.id}}" name="newComment" placeholder="Write a comment">
            <!-- <p data-ng-show="newCommentForm.newComment.$invalid && !newCommentForm.newComment.$pristine" class="help-block small">Valid Message is required.</p> -->
          </div>
        </form>
      </div>
    </ion-footer-bar>

    <!-- <ion-footer-bar class="bar-stable item-input-inset" data-ng-if="!message.isSystemMessage && !vm.messageVars.commentsDisable && vm.user.isStatusActive()">
        <form id="newCommentForm{{message.id}}" name="newCommentForm" data-ng-submit="newCommentForm.$valid && newCommentForm.$setPristine(); message.addComment($event, message);" novalidate class="sc-message-new-comment-container">
          <div data-ng-class="{ 'has-error' : newCommentForm.newComment.$invalid && !newCommentForm.newComment.$pristine }">
            <label class="item-input-wrapper" for="newComment{{message.id}}">
              <i class="placeholder-icon">
                <span sc-user-avatar="{userAvatar: user.avatar, cssClass: 'sc-user-avatar-x-small'}"></span>
              </i>
              <input data-ng-model="message.commentTxt" required type="text" class="" id="newComment{{message.id}}" name="newComment" placeholder="Write a comment">
            </label>
            <!- - <p data-ng-show="newCommentForm.newComment.$invalid && !newCommentForm.newComment.$pristine" class="help-block small">Valid Message is required.</p> - ->
          </div>
        </form>
    </ion-footer-bar> -->

  </div>
</ion-view>