<ion-view view-title="Account">
	<ion-content class="padding sc-content">
		<div class="list card" style="text-align:center;">
      <br>

      <h2 data-ng-bind="vm.user.firstName+' '+vm.user.lastName"></h2>
      <h4 data-ng-bind="vm.user.email"></h4>
      <br>
      <h4 data-ng-show="!vm.account.showForm"><a href="javascript:void(0);" data-ng-click="vm.account.showForm=true">Edit Profile</a></h4>

      <div style="text-align:left;">
        <form data-ng-if="vm.account.showForm">
          <formly-form form="vm.accountForm" model="vm.account.formData" fields="vm.account.formFields">
            <div class="sc-center-text sc-btn-margin-top">
              <button class="button button-balanced sc-form-button" data-ng-click="vm.clearForm();">Cancel</button>
              <button type="submit" class="button button-balanced sc-form-button" data-ng-click="vm.showPasswordPopup()" data-ng-disabled="vm.accountForm.$invalid">Save</button>
            </div>
          </formly-form>
        </form>
      </div>

      <p><hr></p>

      <div class="padding">
        <p>If you have any issues with this app or would like to suggest enhancements,  send an email to Chris Casad, <a href="mailto:ccasad@gmail.com">ccasad@gmail.com</a>. Please don't bother Kelly with anything about this app. Thanks.</p>
      </div>

      <br>
    </div>

    <div>
    	<button class="button button-block button-stable" data-ng-click="vm.signOut()">
    		<span class="sc-font-bold">Sign Out</span>
    	</button>
    </div>

	</ion-content>
</ion-view>