<ion-view title="" hide-nav-bar="true" class="sc-login-container">
	<ion-content>

		<div class="row row-center sc-row-center">
      <div class="col" data-ng-class="{'sc-login-logo-small-container' : vm.isAnimationAvailable}">
        <img src="images/kellysbc.gif" class="sc-login-logo-small" />
      </div>
		</div>

		<div class="row row-center sc-row-center">
  		<div class="col">
  			<div class="sc-login-box">
		  		<form accept-charset="UTF-8" role="form" id="resetPasswordForm" name="resetPasswordForm" data-ng-submit="vm.resetPassword(resetPasswordForm.$valid)" novalidate="novalidate">
		  			<label class="item item-input">
		  				<input type="email" placeholder="Email" data-ng-model="vm.resetPasswordFields.email" data-ng-required="true" name="email" id="email">
		  			</label>
		  			<button class="button button-dark button-block" type="submit" data-ng-click="submitted=true"><strong>RESET PASSWORD!</strong></button>
		  		</form>
	  		</div>
  		</div>
  	</div>

  	<div class="row row-center sc-row-center">
  		<div class="col">
  			<a href="" data-ui-sref="anon.login" class="sc-login-text">Back to Login</a>
  		</div>
  	</div>

	</ion-content>
</ion-view>
