<ion-view title="" hide-nav-bar="true" class="sc-login-container">
	<ion-content>

		<div class="row row-center sc-row-center">
      <div class="col" data-ng-class="{'sc-login-logo-container' : vm.isAnimationAvailable}">
        <img src="images/kellysbc.gif" data-ng-class="{'sc-login-logo' : vm.isAnimationAvailable}" data-ng-if="vm.logo" />
      </div>
		</div>

		<div class="row row-center sc-row-center">
  		<div class="col">
  			<div class="sc-login-box">
		  		<form accept-charset="UTF-8" role="form" id="loginForm" name="loginForm" data-ng-submit="vm.login(loginForm.$valid)" novalidate="novalidate">
		  			<label class="item item-input">
		  				<input type="email" placeholder="Email" data-ng-model="vm.loginCredentials.email" data-ng-required="true" name="email" id="email">
		  			</label>
		  			<label class="item item-input">
							<input type="password" placeholder="Password" data-ng-model="vm.loginCredentials.password" data-ng-required="true" name="password" id="password">
						</label>
		  			<button class="button button-dark button-block" type="submit" data-ng-click="submitted=true"><strong>SIGN ME IN!</strong></button>
		  		</form>
	  		</div>
  		</div>
  	</div>

  	<div class="row row-center sc-row-center">
  		<div class="col">
  			<a href="" data-ui-sref="anon.forgot-password" class="sc-login-text">Forgot your password?</a>
  			<br/><br/>
  			<a href="" data-ui-sref="anon.register" class="sc-login-text">Create new account</a>
  			<br/>
  		</div>
  	</div>

	</ion-content>
</ion-view>
