<ion-view>
  <ion-nav-title>
    <span data-ng-bind="::vm.circles.title"></span>
  </ion-nav-title>

  <!-- <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-funnel sc-icon-small" data-ng-click="vm.showFilters();"></button>
  </ion-nav-buttons> -->

  <ion-content class="padding sc-content" delegate-handle="circles">

    <!-- <ion-refresher
      pulling-text="Release to refresh..."
      pulling-icon="ion-arrow-down-c"
      on-refresh="vm.refreshCircles()">
    </ion-refresher> -->

    <ion-list class="sc-circles-list">
      <!-- | orderBy:vm.circles.sortBy -->
      <ion-item data-ng-repeat="circle in filteredCircles = (vm.circles.list | filter:vm.circles.search)"
                class="item"
                id="circle-{{::circle.id}}">

        <!-- Circle START -->
        <div class="sc-circle-content-wrapper">
          <div class="sc-circle-content">

            <h2 class="sc-circles-id">
              <a class="sc-strong" data-ng-bind-html="circle.name" data-ui-sref="user.circles-messages({circleId: circle.id})"></a>
            </h2>
            <div class="item-text-wrap">
              <p data-ng-bind-html="::circle.description"></p>
            </div>

          </div>
        </div>
        <!-- Circle END -->

      </ion-item>
    </ion-list>

    <div class="card text-center small text-warning" data-ng-show="filteredCircles.length < 1 && !vm.circles.loading">
      <div class="item item-text-wrap" data-ng-bind="vm.circles.noCirclesText"></div>
    </div>

  </ion-content>
</ion-view>